@model OperasWebSites.Models.Opera

@{
    ViewBag.Title = "Details";
}

    <fieldset>
        <legend>Opera</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Year)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Year)
        </div>
    
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Composer)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Composer)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.GeoLocation)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.GeoLocation)
        </div>


    </fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
